<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renommator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Texte placé au-dessus du monstre -->
    <h2 class="renomminator-text">Donne un .zip à Renomminator</h2>
    <div class="monster-container">
        <!-- Yeux du monstre -->
        <div class="eye left-eye"></div>
        <div class="eye right-eye"></div>

        <!-- Bouche du monstre (où le formulaire sera placé) -->
        <div class="mouth">
            <form method="post" action="/" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input" required>
                <button type="submit">Miam</button>
            </form>
        </div>

        <!-- Dents du monstre -->
        <div class="teeth">
            <div class="tooth"></div>
            <div class="tooth"></div>
            <div class="tooth"></div>
            <div class="tooth"></div>
            <div class="tooth"></div>
            <div class="tooth"></div>
        </div>
    </div>
</body>
</html>
